@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<picture>
    <source srcset="https://media.discordapp.net/attachments/1089998750736457818/1206512977680015380/1FB61FEE-279E-4F1F-B6A9-1B5B58EB3467.gif?ex=673cf105&is=673b9f85&hm=dbd9dafab75a954fe271f2f423e4a66cc89272894ce795278e7fc82c32f6b4e0&" type="image/webp" />
    <img src="https://media.discordapp.net/attachments/1089998750736457818/1206512977680015380/1FB61FEE-279E-4F1F-B6A9-1B5B58EB3467.gif?ex=673cf105&is=673b9f85&hm=dbd9dafab75a954fe271f2f423e4a66cc89272894ce795278e7fc82c32f6b4e0&" alt="Hero image" class="img-fluid" />
</picture>
